.venv/*
Miniforge3-Linux-x86_64.sh
Practice/snakemake-tutorial/environment.yaml
Practice/snakemake-tutorial/snakemake-tutorial-data.tar.gz
Practice/snakemake-tutorial/data/genome.fa
Practice/snakemake-tutorial/data/genome.fa.amb
Practice/snakemake-tutorial/data/genome.fa.ann
Practice/snakemake-tutorial/data/genome.fa.bwt
Practice/snakemake-tutorial/data/genome.fa.fai
Practice/snakemake-tutorial/data/genome.fa.pac
Practice/snakemake-tutorial/data/genome.fa.sa
Practice/snakemake-tutorial/data/samples/A.fastq
Practice/snakemake-tutorial/data/samples/B.fastq
Practice/snakemake-tutorial/data/samples/C.fastq
.snakemake/*
.DS_Store


## Experiment files
# experiments/*/01_inputs/*
# experiments/*/1_inputs/*
# experiments/*/2_diffusion/*
# experiments/*/3_folding/*
experiments/*/4_docking/output/00_topoaa
experiments/*/4_docking/output/01_rigidbody
experiments/*/4_docking/output/02_clustfcc
experiments/*/4_docking/output/03_seletopclusts
experiments/*/4_docking/output/04_flexref
experiments/*/4_docking/output/05_clustfcc
experiments/*/4_docking/output/06_seletopclusts
experiments/*/4_docking/output/07_mdref
experiments/*/4_docking/output/data
